<div class="header">
  <div class="logo" routerLink="">
    <p>LOGO SAMPLE</p>
  </div>
  <div class="action-buttons">
    <div class="action-buttons--quest" *ngIf="!userService.user">
      <button mat-button class="mat-raised-button mat-primary" routerLink="signup">Sign up</button>
      <p routerLink="login">login</p>
    </div>
    <div class="action-buttons--user" *ngIf="userService.user">
      <p class="name" routerLink="profile">Welcome, {{userService.user.companyName}}</p>
      <button mat-button class="mat-raised-button mat-primary" (click)="logout()">Logout</button>
    </div>
  </div>
  <!--<p>logo</p>-->
</div>
