@import "../../../styles";

.home{
  //height: 100%;
  display: flex;
  //border: 1px solid red;

  &--holder{
    width: 100%;
    display: flex;
    justify-content: center;
    //border: 1px solid;
    height: 100%;
  }
  &--quest{
    text-align: center;
    padding-top: 80px;

  }
  &--user{
    @extend .home--quest;
  }
  .task-holder{
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    width: 300px;
    &--header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .card-header{
      &--title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
          cursor: pointer;
        }

      }
    }
    .admin-button{
      align-self: end;
    }
    mat-card{
          margin: 15px;
    }
  }
}
