@import "../../../styles";

.home{
  //height: 100%;
  display: flex;
  //border: 1px solid red;
  &--chat{
    min-width: 200px;
    position: absolute;

    h1{
      font-size: 1.8rem;
      margin: 0 0 10px 0;
    }
    &--online{
      .user-holder{
        display: flex;
        padding-left: 10px;
        align-items: center;
        //justify-content: center;
        .userName{
          cursor: pointer;
        }
        .envelope-holder{
          margin-left: 5px;
          .envelope{
            height: 20px;
          }
          span{
            color: red;
          }
        }

      }
      .dot{
        width: 7px;
        height: 7px;
        margin-right: 5px;
        border-radius: 100%;
        background-color: #36c92a;
      }
    }
    &--offline{

      span{
      }
    }
  }
  &--holder{
    width: 100%;
    display: flex;
    justify-content: center;
    //border: 1px solid;
    height: 100%;
  }
  &--quest{
    text-align: center;
    padding-top: 80px;

  }
  &--user{
    @extend .home--quest;
  }
  .task-holder{
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    width: 300px;
    &--header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .card-header{
      &--title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
          cursor: pointer;
        }

      }
    }
    mat-card{
          margin: 15px;
    }
  }
}
